[2017-07-17 19:49] zeyadhazem opened #1 "Dependencies"
Hi, the module tensorflow is missing from the required dependencies in the README. It might also be useful to group all dependencies in a requirements.txt file

[2017-09-06 15:37] calvozaragoza commented on #1
**tensorflow** is not an actual dependency. **theano** is enough but Keras has to be configured accordingly.

[2017-09-06 15:59] calvozaragoza commented on #1
I just added information about how to configure Keras to select theano as backend.

[2018-05-07 20:57] EricHanLiu opened #3 "Need to add input port filetype requirements for Rodan job"
ie. rgba+png, for clarity.

[2018-05-07 20:59] vigliensoni commented on #3
Could you please add the Project Name and who will be in charge of fixing
this issue?

On Mon, May 7, 2018 at 4:57 PM, Eric Han Liu <notifications@github.com>
wrote:

[2018-05-07 21:15] vigliensoni commented on #1
@deepio I think this was fixed in the latest Rodan container. Am I right?

[2018-05-08 13:45] EricHanLiu commented on #3
Added filetype requirements in name, created pull request with feature branch to resolve issue

[2018-05-08 14:12] EricHanLiu commented on #3
Assigned pull request to Calvo, awaiting response to mark as completed

[2018-05-08 15:04] EricHanLiu commented on #3
Merged, done.

[2018-05-08 15:04] #3 closed

[2018-05-08 15:29] EricHanLiu opened #6 "Need to fix consistency of name key for input_port_types globally"
Currently:
`'name': 'rgba PNG - Text'`
`text = cv2.imread(inputs['Text'][0]['resource_path'], cv2.IMREAD_UNCHANGED) # 4-channel`
So the input in `text` needs to reflect the updated name from the last commit, which is `rgba PNG - Text` instead of just `Text`.

[2018-05-08 15:36] EricHanLiu commented on #6
Fixed in wrapper.py and sent [pull request](https://github.com/DDMAL/Calvo-classifier/pull/7)

[2018-05-08 15:42] EricHanLiu commented on #6
Pull request accepted, closing.

[2018-05-08 15:42] #6 closed

[2018-05-08 17:39] EricHanLiu opened #8 "Missing trainer for fast pixelwise classifier"
Hi @calvozaragoza: The `fast_calvo_classifier` for fast pixelwise analysis does not seem to have a corresponding trainer in this repository. I can see there are the Salzinnes models that it requires as input, but is there not a general trainer in place yet? Also, the fast classifier is deactivated by default in place of the regular ("slow") pixelwise classifier. Is there a reason for this, and can

[2018-05-08 18:36] calvozaragoza commented on #8
Currently, the fast CM is under development, and so it is not fully integrated in Rodan. There are some pre-trained models and a fast_calvo_classifier script only for demo purposes.

[2018-05-08 18:38] EricHanLiu commented on #8
Thank you for the update!

[2018-05-08 18:48] martha-thomae commented on #8
Hi Jorge (@calvozaragoza), is the fast classifier a patch-wise classifier? I know you were working on a classifier that took a patch instead of working pixel-wise, is that it?

[2018-05-08 19:47] EricHanLiu opened #9 "Fast pixelwise analysis throws ValueError for optimizer weight shape"
When running in Rodan with the provided model templates, we get
[code]

I've seen a solution that says to install HDFview and open the hdf5 file and delete the optimizer part of the file, which causes the model to load properly. Is this a safe thing to do within the context of this classifier? Will it break any code?

Others have discussed that [this is a bug](https://github.com/keras-team/keras/i

[2018-05-08 19:48] EricHanLiu commented on #8
Closing since it's not an actual issue.

[2018-05-08 20:01] calvozaragoza commented on #9
It should be safe within the context of classification (the optimizer is only used for training).

However, it seems a version inconsistency problem to me; the fast models were trained before migrating Rodan to docker. Check whether 'theano' is selected as backend in Keras, and also try the different options for the 'image_data_format' setting: https://keras.io/backend/

[2018-05-08 20:04] EricHanLiu commented on #9
Will do, thank you Jorge

[2018-05-08 20:07] calvozaragoza commented on #9
If that is the problem, keep in mind that it sho

[2018-05-08 20:34] EricHanLiu commented on #9
So we confirmed that Theano is the backend for Keras (the config file was the exact same as the instructions in this repository), and there was no `image_data_format` key so we added it ourselves in the dictionary. Doing so broke docker when we tried to reinstantiate everything, we got the error
`Message: No module named tensorflow`
and we had to rebuild the image since it crashed every time.
I gu

[2018-05-08 20:54] EricHanLiu commented on #9
Using this script to remove the optimizer weights for each file, testing now
[code]

[2018-05-09 15:15] EricHanLiu commented on #9
Works with removing the optimizer weights! closing.

[2018-05-09 15:15] #9 closed

[2018-05-24 15:59] deepio commented on #1
Yes, this has been fixed. I found a few cases when this can happen, most the time its because the celery is being run by a different user as the one that has the keras configuration. The default for keras framework is to use tensorflow instead of Theano.

~/.keras/keras.json
[code]

**For future users** reading this post, check which user is running the celery job. `root` or `www-data`, ..., then

[2018-06-28 17:42] vigliensoni commented on #8
Hi @calvozaragoza, do you have any news about the fast, patch-wise CM trainer? How can we help you?

[2019-03-20 21:25] calvozaragoza opened #14 "Take into account margins when creating training set for Fast CM"
When creating the training set for Fast CM (function **getTrain** in _training_engine_sae.py_), the ground-truth image is splitted into patches of size (patch_height, patch_width) with a stride of (patch_height // 2, patch_width // 2).

Currently, If the input image height and width are not multiple of patch_height and patch_width, respectively, there will be some margins of the image that will no

[2019-05-06 18:46] vigliensoni opened #15 "Fast Calvo Classifier Summer 2019 overview"
Rodan job:

- [ ] Test Fast Calvo Classifier (FCC) wrapper for Rodan. While there are no GPUs available in Compute Canada cloud, test it with small images in your local environment or in staging

Queue-based:

- [x] Segment manuscripts using FCC using queue-based Compute Canada (Einsiedeln CH-E 611, Paris F-Pn 15181, St. Gallen 390, St. Gallen 391)
- [x] Generate, or use previously generated groun

[2019-08-14 14:46] vigliensoni opened #16 "Fix training model failure."
After training a model, the Rodan job fails:

[code]

[2019-08-16 16:18] deepio opened #17 "Fast Pixelwise Analysis of Music Document creates blank images"
* When running the job Fast Pixelwise Analysis of Music Document, it generates blank images for all the layers.

__The image is blank, but it is present between this text.
![Fast Pixelwise Analysis of Music Document - Music symbol](https://user-images.githubusercontent.com/28245482/63182129-c699d400-c01f-11e9-8b6e-1a0576dbda91.png)
The image is blank, but it is present between this text.__

[2019-08-25 19:05] deepio commented on #17
Issue to be revisited when we have a new GPU

[2019-08-25 19:05] #17 closed

[2019-09-27 00:08] vigliensoni opened #18 "Correct name of output ports."
Name of `text` and music `symbols` is inverted in the path of output models.

https://github.com/DDMAL/Calvo-classifier/blob/5c3433ac61e70076b040d7c3ae0c2318465e2751/fast_calvo_trainer.py#L93-L97

[2019-09-27 19:09] vigliensoni opened #19 "Generate and save models after training."
For some reason, the `val_acc` key is no longer being recognized in the Keras ModelCheckpoint and EarlyStopping callback. If used, no models are being generated and saved. It should be changed to `val_accuracy`

https://github.com/DDMAL/Calvo-classifier/blob/5c3433ac61e70076b040d7c3ae0c2318465e2751/training_engine_sae.py#L115-L118

Reference: https://github.com/keras-team/keras/issues/6104#issueco

[2019-09-30 14:54] #18 closed

[2019-09-30 15:12] vigliensoni opened #22 "Need variable number of layers."
The number of layers should be variable. In most cases, `[background, stafflines, neumes, text]` is fine, but we may need more or less.

For example:

- we may need to add extra layers for ornamental letters
- we may need to add extra layers for rulers
- we may need less layers for adiastematic neumes notation (i.e., no staff lines)

[2019-09-30 15:17] #8 closed

[2019-10-03 14:30] #19 closed

[2019-10-03 14:32] vigliensoni commented on #19
The fix was incorporated in PR https://github.com/DDMAL/Calvo-classifier/pull/20

[2019-10-03 14:33] vigliensoni opened #23 "Make model for adiastematic neume notation."
We need a model for adiastematic notation.

In the future, we may want to move all the models to a separate repo. For now, they will be in this repository.

[2019-10-03 14:51] #23 closed

[2019-10-04 18:33] vigliensoni commented on #19
For some reason in Keras installed on my local computer (2.2.4) the available metrics are:

`val_loss`,`val_acc`, `loss` and `acc`

In the one on Compute Canada (2.3.0), the metrics are:

`val_accuracy`

Actually, the code mentions both:

https://github.com/keras-team/keras/blob/1cf5218edb23e575a827ca4d849f1d52d21b4bb0/tests/keras/callbacks/callbacks_test.py#L467-L477

[2021-02-19 16:45] deepio opened #33 "Make the jobs more efficient"
- [ ] **Usability issue:** Issues with Fast Calvo Classifier and Trainer, they are both taking way more time when multiple users are running these jobs.

[2021-03-29 15:45] napulen opened #34 "Confusing slicing of a string"
https://github.com/DDMAL/Calvo-classifier/blob/09bf113286aeaefa9160d5116589790084a26e2e/fast_calvo_classifier.py#L118

I saw this fragment today on a meeting.

Assuming `x` is a string, maybe this is more legible code:

[code]

This also happens in other lines/places.

[2021-03-31 12:51] carrieeex opened #35 "Adding a license to this repo"
Dear @deepio @JRegimbal @vigliensoni @EricHanLiu @calvozaragoza @martha-thomae ,

As per SSHRC’s guidelines on open data and the contracts signed by DDMAL employees, all of our software is open source. However, not all of our GitHub repos currently have licensing information.

Effective now, we would like to change the license of this repository to the MIT License (currently, it doesn't have any),

[2021-04-22 18:38] martha-thomae commented on #33
To add some missing information: the proposed solution for this issue is to increment the number of replicas.

[2021-04-28 10:10] #35 closed, assigned to nobody

[2021-07-10 10:59] raviraina opened #40 "Variable referenced before assignment causing training issues"
As per Martha's testing, classification is currently working on new Calvo (found in the develop branch) however training is not. The method `createGenerator` in ```training_engine_sae.py``` attempts to use a variable a line before it is ever initialized.

Line 80 may just simply need to be moved below Line 83, but I am unable to test this myself locally until after my flight and would rather not b

[2021-07-10 16:24] kemalkongar opened #41 "createGenerator in training_engine_sae.py has numerous unknown variables and declaration errors"
Starting from line 80 in `training_engine_sae.py`, we see that:

1. `selected_page_idx = np.random.randint(len(gr))` relies on `gr` even though `gr` is declared below it.
2. `gr` uses `selected_page_idx` so moving it above the previous declaration would also be false

It would be possible to hard code a starting value (such as 0) to `selected_page_idx` before the start of the loop, and this is how

[2021-07-10 16:26] kemalkongar commented on #41
Curent dev branch for this is `var_fix`. The two changed files from `efficient_data_load` were `cp`'d into `develop` in order to avoid merge conflicts -- the branch was out of date with basically every single file.

[2021-07-10 16:28] kemalkongar commented on #40
Closed and moved to #41 as it has details about further issues in the function.

[2021-07-10 16:28] #40 closed, assigned to raviraina, kemalkongar

[2021-07-12 02:02] martha-thomae commented on #41
@calvozaragoza, could you help us with these questions?
@kemalkongar and others are going through the changes that you did some time ago for efficient data loading. The changes I was still debugging when I got that old celery issue. They passed the celery issue I got and are continuing to debug this code. If we could have your input to clarify what these lines/variables are supposed to be that wou

[2021-07-12 15:10] calvozaragoza commented on #41
I'll look into this as soon as I can.

Jorge

El lun, 12 jul 2021 a las 4:02, Martha E. Thomae ***@***.***>)
escribió:

[2021-07-14 18:50] kemalkongar commented on #41
Current error:

`Error summary: RuntimeError: The job did not produce the output file for Model 0. {'Model 0': [{'resource_type': 'keras/model+hdf5', 'uuid': UUID('1d9c506e-2368-4be0-b062-e72f19c22513'), 'is_list': False, 'resource_temp_path': '/tmp/tmpuepc0g22/3a385220-46bd-4eee-977e-2b7fa9c391f7'}], 'Log File': [{'resource_type': 'text/plain', 'uuid': UUID('7c6700b7-37d6-407e-8bf7-fb5175d2cae8')

[2021-07-14 18:54] calvozaragoza commented on #41
Let's take a look at that. Could you please point me to the exact code you
are using? I'm not sure which branch you are testing (sorry, as I mentioned
in the Zoom meeting, I am not a Github guy).

El mié, 14 jul 2021 a las 20:50, Kemal Kongar ***@***.***>)
escribió:

[2021-07-14 18:56] fujinaga commented on #41
If you want something to train quickly, I suggest you use the two colour-image I sent to you or just make a small test image with two colours.

[2021-07-14 18:59] kemalkongar commented on #41
Sure thing. We’re using the var_fix branch (https://github.com/DDMAL/Calvo_classifier/tree/var_fix <https://github.com/DDMAL/Calvo_classifier/tree/var_fix>) and the single instance of model.fit_generator() was replaced with this commit: https://github.com/DDMAL/Calvo_classifier/commit/87851bf213e98682cf5d0f720fbead3286300779 <https://github.com/DDMAL/Calvo_classifier/commit/87851bf213e98682cf5d0f7

[2021-07-14 19:01] kemalkongar commented on #41
Using a normal image with epoch=3 and samples=1000 gives us a result in 10-15 minutes. We get the error at the end of the training process, unfortunately.

[2021-07-14 19:03] fujinaga commented on #41
Ah, ok. That sounds like a reasonable time to wait.

[2021-07-14 19:13] calvozaragoza commented on #41
Could I see the log of the running that caused this error? I don't see
anything wrong...

Also, could you check the value of "output_path" when calling train_msae? I
didn't write the code that parses the input ports of the job but I prefer
to verify whether the error is there.

Sorry for so many commands!

El mié, 14 jul 2021 a las 21:03, Ichiro Fujinaga ***@***.***>)
escribió:

[2021-07-14 20:10] kemalkongar commented on #41
Unfortunately the entire error message if the one I posted above — the one with invalid outputs. Nothing in the gpu-celery container except for TensorFlow messages about RAM usage.

Using `fit` seems to have caused another error:

`Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/celery/app/trace.py", line 412, in trace_task
    R = retval = fun(*args, **kwargs)

[2021-07-14 20:30] calvozaragoza commented on #41
The execution should be printing some messages because of the training
process, which should be saying whether a model is being saved, I wanted to
see those.

Concerning the error saving the model... something happened the first time
I coded the job and because of the file extension (forced by Rodan to be
none).  What I had to do was to add a suffix in ModelCheckpoint:

*ModelCheckpoint(output_pat

[2021-07-15 16:02] kemalkongar commented on #41
model.fit() works fine if `workers=1` is added as a parameter. This disables multithreading and makes it executes normally. Currently it's a workaround, though I'm not sure if production Calvo uses multithreading either?

[2021-07-15 16:06] calvozaragoza commented on #41
This has nothing to do with the method. This is related to the environment
the code is being runned. So if this works now, go ahead with it.

What about the error with the model not being saved? My bet is that the
model is being saved but Rodan does not find where. That is why I mentioned
a possible workaround (that I already had to implement for the first
versions).

[2021-07-15 16:11] kemalkongar commented on #41
I'm raising exceptions at various places to trace the code. I'll let you know where it actually fails.

It may be the environment but given we're running this in a very specific way that doesn't really matter. We'll have to mold the method to fit into the current iteration of Rodan. Multithreading is important but it's not a priority right now.

[2021-07-15 16:20] kemalkongar commented on #41
`InterruptedError: Reached end of train_msae, which means that all methods have worked.`

The entire `training_engine_sae.py` file is confirmed to work as intended. The generator and its related functions act as expected. I will move onto `fast_calvo_trainer.py`, the other file that was changed in this branch.

[2021-07-15 16:24] kemalkongar commented on #41
`INFO:tensorflow:Assets written to: /tmp/tmpga5t5tp6/80b101cc-f2b4-4c3e-9ca0-90465edc516a/assets`

Here is the only run-related log gpu-celery outputs.

[2021-07-15 16:30] calvozaragoza commented on #41
So the models are being saved but not exactly where they are supposed to,
are they? I don't remember seeing this folder (assets) in the path
associated to the output port.

El jue, 15 jul 2021 a las 18:24, Kemal Kongar ***@***.***>)
escribió:

[2021-07-15 18:09] kemalkongar commented on #41
`InterruptedError: Created output paths: {'background': '/tmp/tmpslohwspe/0a500148-47f3-4101-ab2a-9a26020d4e8a', '0': '/tmp/tmpslohwspe/19139c68-7324-41b5-ae8e-786738629613'}. After training.msae`

The exact locations after

[code]
is ran around line 167 of `fast_calvo_trainer.py`

[2021-07-15 18:11] kemalkongar commented on #41
So we know it reaches the end, then gives the file error. I'm guessing it's something to do with the values of `resource_path` in one of the `output_path` declarations but I'll have to narrow it down more.

[2021-07-15 18:36] calvozaragoza commented on #41
Actually, someone changed that part of the code after my first version
(Alex Daigle, I think), so I am not sure how the input ports are being
parsed.

El jue, 15 jul 2021 a las 20:11, Kemal Kongar ***@***.***>)
escribió:

[2021-07-19 18:35] kemalkongar commented on #41
https://stackoverflow.com/questions/20079858/python-is-it-safe-to-get-value-from-the-same-list-iterator-in-multiple-threads

https://stackoverflow.com/questions/41194726/python-generator-thread-safety-using-keras

Appears that this may be a "lower-level" issue with generators in general. We'll try to make the generator thread-safe tomorrow. Adding workers seemed to fix the issue locally but whenev

[2021-07-20 13:40] kemalkongar opened #44 "Neumes in Generated Background Images Appear Different to Different Users"
It appears that the output of the Fast Pixelwise Analysis has some issues with the background layer output file.

This is what the image is supposed to look like:

<img width="757" alt="image" src="https://user-images.githubusercontent.com/47402993/126333079-0af1643b-79a5-4cac-a197-a77f06fb1b56.png">

and that is the case with certain images we've used to test text_alignment. However, certain othe

[2021-07-21 14:45] kemalkongar commented on #41
After further testing, I can confirm that 68ad4573e009b316508c8a78672f46f10902dd99 has fixed the multithreading issue with generators. Will move onto the I/O issue now.

[2021-07-21 17:05] kemalkongar commented on #41
I've gone through the I/O operations in the Trainer and logged the instances where the output path would change. Here are the resutlts for future reference.

Exception: Output data from within the train_msae is as follow:

Output path as passed into train_msae is:
{'background': '/tmp/tmpoz5wm662/8ec1abc8-e72f-4a4d-a88c-29f63e0eda49',
'0': '/tmp/tmpoz5wm662/576f0339-4fea-4bfb-a5ab-457e07451958'}

[2021-07-21 18:26] napulen commented on #41
Is the last part you printed

[code]
implying that the name went back to `...51958` instead of `51958.h5`?

[2021-07-21 18:26] napulen commented on #41
I have been interpreting this stack trace as sequential

[2021-07-21 18:27] kemalkongar commented on #41
It is not, `train_msae` is the last step as the output from it ends the job.

[2021-07-21 18:29] kemalkongar commented on #41
My bad for not clarifying. Basically, the output_paths go into `train_msae` and get changed more in there. The logs show what the files were before they were passed in as parameters, how they changed inside the function, and what they ended up as.

It went: name -> name.h5 -> name

[2021-07-21 20:16] calvozaragoza commented on #41
Honestly, I don't understand what is going on.

Is it possible that the first model (label == 0) should be stored at
output_path['background']? And the remaining models (label >= 1) must be
stored at output_path['%s' % (label-1)]?

I mean, if we consider two labels {background, notes}, then:

- label 0 -> background -> model must be stored at
"output_path['background']"
- label 1 -> notes -> model

[2021-07-22 14:12] kemalkongar commented on #41
This is indeed part of the error but the way layers and the generator is setup prevents it from being a drop-in solution. We'll need to do more extensive rewriting to make everything work. For example, the layers are processed based on the index of inputs and simply renaming background to 0 would mess with the ground truth.

[2021-07-22 16:05] kemalkongar commented on #41
There are numerous issues with the way inputs are handled due to changes in the way files are passed into the Fast Trainer. There also seems to be missing logic related to how the Background Model is supposed to be handled. We'll be diving deeper into the logic and in order to test more efficiently have created a `local_fast_trainer.py` file. It's got the same logic as the Rodan wrapper but has fi

[2021-07-22 16:12] napulen opened #49 "Incorrect call of opencv's imread"
In this line, `imread` is called to load an RGB image.

https://github.com/DDMAL/Calvo_classifier/blob/82e94243275ccc28b3891b68dfece628ef3f5839/fast_calvo_trainer.py#L142

According to the docs, a flag should be passed instead: https://docs.opencv.org/3.2.0/dc/d2e/tutorial_py_image_display.html

It might not crash in `opencv-python==3.2.0.8`, but recent versions crash because of it.

In any case,

[2021-07-22 16:14] napulen commented on #49
@kemalkongar This is relevant for `local_fast_trainer` too

I'll write issues about what I see. It's maybe easier for you to see them and implement them at your convenience, while you work on the code. If you prefer a PR instead, I will send one at the end of the day with all proposed changes.

[2021-07-22 16:16] kemalkongar commented on #49
Either is fine, committing comments would also be helpful. If you have the time for a PR that'd be great, if not we can make changes based on the comments.

[2021-07-22 17:33] napulen opened #50 "Weird looking for loop"
There's something off about `output_models_path`.

I am inclined to think that this loop is in the wrong place:

https://github.com/DDMAL/Calvo_classifier/blob/27fe695a412cf4c2d2171270b1ad95461f50ee20/fast_calvo_trainer.py#L165

Additionally, this line seems to be creating the same dictionary over and over for every training page, with the same data. None of the information it is iterating over (`

[2021-07-22 18:24] raviraina commented on #50
I think you are right.. Moved the `output_models_path` declaration, gonna look more into the first loop you mentioned.

[2021-07-22 18:37] kemalkongar commented on #41
All Trainer changes will be committed into `local_fast_trainer.py` until we know the job works outside of Rodan. We will then update the job wrapper.

[2021-07-22 19:04] napulen commented on #41
That is all right. If someone (e.g., me) submits something referencing the `fast_trainer` codebase, assume you can refer to it in `local_fast_trainer.py` until the local works.

[2021-07-22 19:07] napulen commented on #50
My impression is that the real side effects of the messy loop are only going to be visible when working with more than one input image.

Based on the code, it seems that it's possible to send up to 5(?) input images. The example in `local_fast_trainer` is a single image. If that works eventually, please make sure to increase the number of input images in your test, my impression is that this will

[2021-07-22 19:08] kemalkongar commented on #41
Got it. Fixing the wrapper will most likely be trivial once the local script works perfect with the current resources.

[2021-07-22 19:10] napulen commented on #41
Yes, just see my comment about the single-image example that you are currently using: https://github.com/DDMAL/Calvo_classifier/issues/50#issuecomment-885162761

[2021-07-23 12:49] kemalkongar commented on #49
I was going through the code and replacing all the `["%d" % i]` like syntax with more Pythonic solutions, should I also do it for lines with cv2? Or should I wait for this issue to be resolved/commented?

[2021-07-23 12:53] napulen commented on #49
Sure, go ahead.

[2021-07-23 12:54] kemalkongar commented on #49
Alright. We've also properly formatted the files with `black` so in the end the Fast Trainer should look, at least peartially, Pythonic. It'll be easier to work with/modify later.

[2021-07-23 14:53] kemalkongar commented on #41
<img width="802" alt="image" src="https://user-images.githubusercontent.com/47402993/126799984-ca49322a-a6d8-49ac-a183-9b0294cf9f78.png">

Question: It appears that the model is treating all layers the same with no special treatment for the background. Would it then be possible to simply rename the background to something appropriate where it wouldn't cause issues with normal layers? For example,

[2021-07-23 14:59] calvozaragoza commented on #41
Yes. Actually, from the neural network perspective, the background is just
another layer. As I see, now the background is mandatory and then there are
a series of optional layers. This was not the case when I coded the
trainer. At that time, there were four (and only four) mandatory layers, so
I hardcoded the I/O ports. I guess the problem comes from the related
changes afterwards.

El vie, 23 jul

[2021-07-23 15:01] kemalkongar commented on #41
I see, so, technically speaking, having an input of {Background, Layer 0, Layer 1} be treated in the model as {Model 0, Model 1, Model 2} should be alright with the last Model being mapped as the Background output? If that's the case we can modify the code to dynamically deal with this.

[2021-07-23 16:15] kemalkongar commented on #41
[code]
I'm getting this error after passing Background (now Layer 0) and Layer 1 into `train_mase`. Any ideas?

[2021-07-23 16:19] calvozaragoza commented on #41
Is it possible that you are testing now with a very small image?

El vie, 23 jul 2021 a las 18:15, Kemal Kongar ***@***.***>)
escribió:

[2021-07-23 16:20] kemalkongar commented on #41
I'm testing it with the images in the `Images` folder of `var_fix`, they're all real manuscript pages.

[2021-07-23 16:23] calvozaragoza commented on #41
So then I don't know what's happening, as I did not get this error before.
I understand what it means, but it never happened to me with this code.

El vie, 23 jul 2021 a las 18:20, Kemal Kongar ***@***.***>)
escribió:

[2021-07-23 16:25] kemalkongar commented on #41
I've changed `var_fix` (you can see it in the `local_fast_trainer.py` file) to treat the Background as another layer and ouptut a Model just like Model 0 from before. Prior to this fix, the background was not being passed properly into `train_msae` so we weren't getting the incompatibility error. However, we were only getting a single file output instead of two.

[2021-07-23 16:25] calvozaragoza commented on #41
Ok, I know where this might come from. If you are taking a pixel as the
center of a patch sample, but this pixel is close to the page boundary, the
crop (L158,L161) will retrieve an image of a smaller size than expected.
This might cause the error.

El vie, 23 jul 2021 a las 18:22, Jorge Calvo ***@***.***>) escribió:

[2021-07-23 16:27] kemalkongar commented on #41
So this would be in `createGenerator`? Would modifying the `np.random` call for `num_cords` fix it? Is there a less hacky way of doing it?

[2021-07-23 16:39] calvozaragoza commented on #41
You'll have to remove from x_coords all the numbers that are >
(gt.shape[0]-patch_height) so that row + patch_height is always below or
equal to gt.shape[0]. The same with y_coords, gt.shape[1] and patch_width.

I don't know any less hacky way of doing that, sorry.

[2021-07-23 17:24] kemalkongar commented on #41
[code]
This code results in the error:

[code]

[2021-07-23 17:26] kemalkongar commented on #41
I'm guessing this is due to incompatibility with the `batch_size` due to reduced array size? Is there a way of filtering these values out before calling the generator functions? Or is that something I should be looking into?

[2021-07-23 18:24] napulen commented on #41
I was looking into this, the width/height of the arrays coming out of the generator seem incorrect.

[2021-07-23 18:26] napulen commented on #41
The way I understand the code, every batch that comes out of the generator should have a shape of `(16, 32, 256, 3)`, but that's not what's coming out of a call to `generator[label]`

[2021-07-23 19:04] calvozaragoza commented on #41
That is not the expected shape of the samples, either. A batch should be
(N,W,W,3) being N=16 and W=256 with default values.

El vie., 23 jul. 2021 20:26, Néstor Nápoles López ***@***.***>
escribió:

[2021-07-23 19:16] napulen commented on #41
All over the place we have a value of `height` and `width`, are you saying these should always be square images?

Even in the definition of the Input layer it is rectangular:

[code]

[2021-07-23 21:22] calvozaragoza commented on #41
You are right, but default values give squared samples. I don't know if you
are changing those.

El vie., 23 jul. 2021 21:16, Néstor Nápoles López ***@***.***>
escribió:

[2021-07-24 03:03] kemalkongar commented on #41
I also assumed the images weren't squares since this code:

[code]
implies that there is an imbalance in the length of x and y coordinates -- it's getting the length of y values, which will be more than x since it's a rectangle. Unless I'm reading it wrong.

[2021-07-24 03:26] napulen commented on #41
Issue is fixed in https://github.com/DDMAL/Calvo_classifier/pull/52

I am able to train the `local_fast_trainer` of this commit.

[2021-07-24 03:28] kemalkongar commented on #41
Wonderful news. I'll test it locally and merge the PR if everything's in order within the Rodan container.

[2021-07-24 03:28] napulen commented on #41
The fix is really just this line:

[code]

Slicing the `gt` array before getting the `nonzero` values.

[2021-07-24 03:35] kemalkongar commented on #41
Fantastic job, it creates both models in `gpu-celery`. We'll continue implementing this into the Rodan job in the coming week and, unless some other issue pops up (possible), we'll have the full OMR workflow ready.

[2021-07-24 03:37] napulen opened #53 "Pixels classified are not centered but corners of the patch"
As I was figuring out the necessary changes for #52, I realized that the pixels chosen for classification are corners in the patch, not the centers of the patch.

The relevant lines of code are

[code]

I haven't verified if this has always been like this (e.g., for previous versions of the algorithm), but seems like a pretty big deal to me. The logical reasoning of choosing the pixel in the cente

[2021-07-24 03:43] napulen commented on #41
Wonderful! Thanks @kemalkongar and @raviraina for looking into this codebase, I know it has been trickier than expected.

Closing this issue now.

[2021-07-24 03:43] #41 closed, assigned to raviraina, calvozaragoza, kemalkongar, GabbyHalpin

[2021-07-24 03:50] raviraina commented on #49
Fixed in #52 but only in `local_fast_trainer`, just adding this comment for reference when closing issues later.

[2021-07-24 03:51] raviraina commented on #50
Should be dealt with after #52 is implemented into develop, adding comment for later reference.

[2021-07-24 08:15] calvozaragoza commented on #53
I don't think this is an issue.

The "Fast" CM does not classify the pixel in the center of a patch but the
whole pixels of the patch at the same time. The code Nestor points out
concerns how training samples are selected, so actually it does not affect
how the test images are processed afterwards. But even so, the way we
select pixels for training comes from trying to select representative
region

[2021-07-24 20:36] napulen commented on #53
Fair enough. Thanks for the explanation.

In that case, I don't think this requires a pull request to change the current behavior.

[2021-07-24 20:36] napulen commented on #53
Closing this issue now.

[2021-07-24 20:36] #53 closed, assigned to fujinaga, martha-thomae, calvozaragoza

[2021-07-27 18:28] #49 closed, assigned to nobody

[2021-07-27 18:28] #50 closed, assigned to nobody

[2021-07-27 18:29] raviraina commented on #34
Fixed since #54

[2021-07-27 18:29] #34 closed, assigned to nobody

[2021-07-27 18:29] raviraina commented on #16
Fixed since #54

[2021-07-27 18:29] #16 closed

[2021-07-27 18:30] #22 closed

[2021-07-27 18:30] #15 closed

[2021-07-27 18:31] raviraina commented on #14
@napulen Is the related to the recent issues you fixed?

[2021-07-27 18:46] napulen commented on #14
@raviraina no, this is a different problem.

This seems really old, @calvozaragoza is this still an issue?

[2021-07-28 15:03] calvozaragoza commented on #14
This was an issue of the previous way of selecting training samples. Now it does not make sense, so I close the issue.

[2021-07-28 15:03] #14 closed

[2021-07-28 15:08] napulen commented on #14
Thanks!

[2021-07-30 15:40] carrieeex opened #55 "Multipage Calvo Trainer failed in Rodan-staging with 5 images"
I was trying to run the [Multipage Calvo Trainer](https://github.com/DDMAL/Calvo_classifier#rodan-jobs-definition) `(Training model for Patchwise Analysis of Music Document`) in [Rodan-staging](https://rodan-staging.simssa.ca/), with 5 images inputs and each image has 3 _rgba - layer_ inputs: `Layer 0 (background)`,` Layer 1`, `Selected Regions` that comes from the _Pixel.js_ job in another workfl

[2021-07-30 15:47] carrieeex commented on #55
The inputs need to be assigned in order, which looks similar to:
![diagram for testing calvo trainer in staging (port ordering)](https://user-images.githubusercontent.com/59303880/127677961-639d89af-71b3-42c3-aa73-6f2ca12277eb.png)
(thanks to @martha-thomae for the screenshot!)

[2021-07-30 16:02] carrieeex commented on #55
For the devs (@kemalkongar @raviraina @GabbyHalpin) who will look into this: The project I shared in Rodan-staging is `TEST_staging_fromJiali`, the workflow I used was `Calvo Trainer 5 images`. (You could also try with workflow `Patchwise (5) TRY random inputs order`, it's the same with additional labeler and 5 `PNG` jobs for the image inputs. I've tried to run it with the exact same inputs, but i

[2021-07-30 16:04] kemalkongar commented on #55
I will start looking into this as soon as HPC Fast Trainer is stable, thanks for the detailed issue.

[2021-07-30 16:06] carrieeex commented on #55
Note: @martha-thomae has tried the same job (Multipage Calvo Trainer) with 2 images and their layers, and it finished (so it works).

[2021-07-30 16:11] kemalkongar commented on #55
@deepio @napulen It may be a better idea to try to implement OrderedDict in Rodan, assuming it's a relatively easy (1-2 day) task rather than try to debug this and hope there isn't any human error. Because I can assure you, I will make at least 1 mistake testing this with 5 inputs, given the shifting names.

[2021-07-30 16:19] carrieeex commented on #55
I agree! Assuring the inputs was time-consuming. The switched order input issue is here: https://github.com/DDMAL/Rodan/issues/615.

[2021-07-30 16:28] napulen commented on #55
I don't expect that doing a `ctrl+h` of `dict()`s into `OrderedDict()`s to make any noise or create any problem. Maybe the hardest issue is to find all instances of dictionaries so that you don't accidentally leave some unordered dictionaries throughout.

Maybe, maybe some issues related to serialization could come up. Hopefully `OrderedDicts` are also serializable and will replace dicts without i

[2021-07-30 16:44] kemalkongar commented on #55
Then we'll look into this next week (please bring it up at the scrum since I'll be gone!). I've also read that `OrderedDict` may be slightly inefficient in Python 2 but it requires further reading.

[2021-07-30 17:37] napulen commented on #55
@timothydereuse is leading the next scrum, I think

[2021-08-04 01:00] martha-thomae opened #56 "Wishlist for settings and ports of Fast Calvo Trainer (all versions of the job)"
Wish list for Patchwise Trainer (for all versions of the job—HPC and non-HPC one):

- [ ] log file as an output port

  This is present in the non-hpc version, but still missing in the HPC one. The logs are useful for evaluating the performance of the job: how far it went in terms of epochs over the maximum number of epochs given to the job and how many samples it ended up taking over the maximum

[2021-08-10 19:08] napulen opened #57 "Implementation of Calvo3 (or Paco's method) in local_fast_trainer"
This new method is an extension of the Calvo2 method (using random uniformly distributed samples from 5 images to generate training batches).

According to @fjcastellanos, this is what is needed for Calvo3 (Paco's method):

@fjcastellanos, based on my understanding of the code, the changes you propose should be implemented on `local_fast_trainer.py` file, in a new branch derived from `develop`.

T

[2021-08-10 19:41] fjcastellanos commented on #57
The thing is that I have to change code in training_engine_sae.py, which contains the generator function for extracting samples. However, that module is used by other two modules:
->fast_calvo_trainer.py
->local_fast_trained.py.

So, I have to modify these 3 files to include this feature. I could test the local script, but the fast_calvo_trainer.py module uses the rodan library. For that, I mentio

[2021-08-10 19:45] kemalkongar commented on #57
If all the changes will be in `training_engine_sae` and the driver file, I would recommend creating 2 new files (maybe called new_local and new_sae) based on the existing ones so we can test the changes independently of their effects on Rodan code.

Alternatively, you’re welcome to change all the current files in a branch other than `develop`, and we’ll simply PR them when they’re complete.

I thi

[2021-08-10 19:51] fjcastellanos commented on #57
I think that a new branch and modifying the code in the current files will be better than having duplicated files, because also I would need a new file for training_engine_sae.py since the current scripts use the old version of that module.

[2021-08-10 19:53] kemalkongar commented on #57
Sure, makes sense. We’ll work on implementing the changes inside the Rodan job wrapper once the local version is working and pushed to develop.

[2021-09-09 10:38] fjcastellanos commented on #57
Hi!, in the branch "sample_generator" we have now a version of the Paco's method. I have prepared two manners of using the code. Also, I have included instructions in the README.md file (I did not delete the previous information just in case you need it).
Please, I would like to ask you if you could test the program. I have tested it in local and in Compute Canada with Tensorflow 2.5, and it seems

[2021-09-09 12:12] kemalkongar commented on #57
I'll test it locally today and try to get a CC setup going as well. If all this good, we can work on implementing it into a Rodan job and pushing it onto staging.

[2021-10-29 16:03] martha-thomae opened #63 "Error in fast calvo classifier due to an update on opencv"
With the current version of opencv (which was changed on August 31st from `3.2.0.8` to `3.4.2.17`), the _fast calvo classifier_ code does not work anymore in Rodan. Here is the log of the error in rodan-staging:
[code]
The `cv2.imread` method has changed. Therefore, [line 166](https://github.com/DDMAL/Calvo_classifier/blob/develop/fast_calvo_classifier.py#L166) should be changed to use an integer

[2021-10-30 20:55] raviraina commented on #63
Attempted a fix in cbf09d2 by changing the flag to 1 (equivalent to cv2.IMREAD_COLOR) and rebuilt on docker hub, let me know if it changes anything.

[2021-11-01 15:08] martha-thomae commented on #63
Thanks, Ravi! Will test it in Rodan staging and get back to you :)

[2021-11-05 03:35] martha-thomae commented on #63
Solved! thank you, @raviraina :)

[2021-11-05 03:35] #63 closed, assigned to raviraina, kemalkongar